# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs
*.log

# Java
target/
.gradle/
build/
*.iml

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Env
.env
.env.*
!.env.example
